@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&display=swap');
@import './partials/variables';
@import './partials/general';
@import './partials/mixins';
@import './partials/typography';
@import './partials/btn';
@import './partials/nav';

main{
    display: grid;
    grid-template-columns: 350px 1fr;
}

.recipeContainer{
    background-color: white;
    height: 50vh;
}

.recipeIngredientContainer{
    padding: 2rem;
    img{
        height: 2rem;
    }
    .searchMsgBox{
        display: flex;
        position: relative;
        left: 30%;
        top: 3rem;
    }
    p{
         text-align: center;
         font-weight: 600;
         width: 50%;
         margin-left: 1rem;
    }
}