@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&display=swap');
@import './partials/variables';
@import './partials/general';
@import './partials/mixins';
@import './partials/typography';
@import './partials/btn';
@import './partials/nav';
@import './partials/loader';
@import './partials/recipes';
@import './partials/ingredientInfo';
main{
    display: grid;
    grid-template-columns: 350px 1fr;
}



.recipeResultContainer{
    background-color: white;
     height: 68vh;
     
    // height: 3rem;
    overflow: hidden;
}

.recipeIngredientContainer{
    padding: 2rem;
    
    .searchMsgBox{
        display: flex;
        position: relative;
        left: 30%;
        top: 3rem;
        img{
          height: 2rem;
        }
    }
    p{
         text-align: center;
         font-weight: 600;
         width: 50%;
         margin-left: 1rem;
    }
}


.hidden{
    display: none !important;
}

.errorMsg{
    font-weight: 600;
    padding: 3rem 4rem;
}